body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1 {
    color: rgb(1, 33, 65);
    display: flex;
    justify-content: center;
    margin: 40px;
}

ul {
    list-style: none;
}

section {
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 16px;
    padding: 20px;
    width: 600px;
}