@import "tailwindcss";

.img-styling {
    @apply
    h-36 w-60 rounded-xl object-cover
}

.btn{
    @apply
    border border-black 
    rounded-xl
    text-black
    p-2 
    cursor-pointer
}

.btn-danger{
    @apply
    text-white
    bg-red-500
    hover:bg-red-600
}